<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg ">
      <ul class="nav">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/users">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/messages">Message Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/userslist">User List</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Log Out</a>
        </li>
        
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link active" href="/auth/google">Login with Google</a>
        </li>
       
        <% } %>
      </ul>
    </nav> 

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
             
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <% if (user) { %>
                <li><a class="dropdown-item" href="/users">Profile</a></li>
                <li><a class="dropdown-item" href="/messages">Message Board</a></li>
                <li><a class="dropdown-item" href="/auth/logout">Log Out</a></li>
                <% } else { %>
                  <li><a class="dropdown-item" href="/auth/google">Log In With Google</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>