
 

     <iframe width="560" height="315" src="https://www.youtube.com/embed/9IYRC7g2ICg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="560" height="315" src="https://www.youtube.com/embed/HOPwXNFU7oU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="560" height="315" src="https://www.youtube.com/embed/sAaqLIsOmCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <iframe width="560" height="315" src="https://www.youtube.com/embed/sdUUx5FdySs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       



        <h1>This page is <%= message %>. Please enjoy my favorite collection of animated short films.</h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        
      
        
      








