
 
        <iframe
        style="width: 100%; height: 550px; overflow: hidden;"
        src="https://playpager.com/embed/chess/index.html"
        scrolling="no">
       </iframe>
        
       <div class="container-error">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        
        </div>
        
      








