<%- include('partials/header') %>



<!-- <h1>hello, <%= user ? user.name : "friend" %></h1> -->


<%- include('partials/footer') %>
<div class="home-head-container">
<h1> Shiatsu </h1>
<h3> The Five Elements </h3>
</div>

<div class="home-elements-container">
<img class="elements" src="/stylesheets/images/just-circles.png" alt="">
</div>