<%- include('partials/header') %>



<!-- <h1>hello, <%= user ? user.name : "friend" %></h1> -->


<%- include('partials/footer') %>


<!-- <div class="home-chart-container">

    <img class="elements-homepage" src="/stylesheets/images/fire.png" alt="fire-image">  
    <img class="elements-homepage" src="/stylesheets/images/earth.png" alt="earth-image">  
    <img class="elements-homepage" src="/stylesheets/images/metal.png" alt="metal-image">  
    <img class="elements-homepage" src="/stylesheets/images/water.png" alt="water-image">  
    <img class="elements-homepage" src="/stylesheets/images/wood.png" alt="wood-image">  
  
  </div>
  
  <button type="submit" class="btn btn-light" >Which Element Are You?</button>
   -->