<%- include('partials/header') %>
<div class="color-container">

  <div class="home-head-container">
    <h1 class="header-home"> My QI </h1>
    <h3 class="element-head"> The Five Elements </h3> 
    <h3 class="header-question">Which Element are You?</h3>

    <div class="images">
      <img class="pic"src="/stylesheets/images/flame copy.png" alt="fire-pic">
      <img class="pic" src="/stylesheets/images/hot-stones.png" alt="earth-pic">
      <img class="pic" src="/stylesheets/images/air.png" alt="metal-pic">
      <img class="pic" src="/stylesheets/images/drop.png" alt="water-pic">
      <img class="pic" src="/stylesheets/images/sprout.png" alt="wood-pic">
    </div>

    <div class="buttons">
      <button type="submit" class=" homebtn btn btn-outline-dark"><a class="home-link" href="/users/theory">What is Shiatsu?</a></button></button>

      <button type="submit" class=" homebtn btn btn-outline-dark"><a class="home-link" href="/users/selfeval">Self Evaluation</a></button>
    </div>
  </div>
</div>

<%- include('partials/footer') %>







