body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 100px;
  background-image: url("/stylesheets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}
/* Navigation */
nav {
  margin: 0;
}
nav, a:hover{
color: rgba(255, 255, 255, 0.671);
}

a{
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.avatar {
  margin: 30px auto;
  border-radius: 50%;
}

.avatar-small {
  border-radius: 50%;
  margin: 20px;
}

.x-button {
  margin: 20px 0;
}

.color-container {
  margin-top: 0;
  background-color: rgba(181, 192, 187, 0.233);
  border-radius: 2px;
  overflow: hidden;
  flex-grow: 100;
}
.card {
  display: flex;
  margin: 50px auto;
  background-color: rgba(209, 221, 223, 0.13);
  text-align: center;
  width: fit-content;
  padding: 50px;
  /* box-shadow: 5px 5px rgba(112, 112, 108, 0.397); */
}

/* home */
.home-head-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
  text-align: center;
}
.header-home {
  font-size: 4rem;
  color: rgba(61, 3, 3, 0.63);
  border-bottom: 2px rgba(3, 44, 3, 0.623) solid;
}

.element-head {
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgb(65, 61, 51);
}
.header-question {
  font-size: 3rem;
  color: rgb(65, 61, 51);
}
.images{
  display: flex;
}
.pic {
  width: 50px;
  margin: 20px;
}

.homebtn {
  margin: 30px;
  background-color: rgba(240, 248, 255, 0.473);
  border: none;
  width: fit-content;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.homebtn:hover {
  background-color: rgba(240, 248, 255, 0.301);
}

.home-link:hover {
  color: rgb(73, 72, 72);
}


/* profile page */
.card2 {
  display: flex;
  margin: 50px auto;
  background-color: rgba(209, 221, 223, 0.13);
  text-align: center;
  width: fit-content;
  padding: 50px;
}
.avatar-profile {
  border-radius: 50%;
  width: 200px;
  padding: 15px;
  margin: 30px auto;
  border: 2px rgba(240, 248, 255, 0.452) solid;
}
.card-title {
  background-color: rgba(188, 209, 218, 0.37);
}

.card-text {
  color: rgb(66, 65, 64);
}

.btncolor {
  background-color: rgba(177, 224, 230, 0.39);
  margin: 10px;
}


/* update info profile page */
.update-text {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(61, 3, 3, 0.63);
  border-bottom: 2px rgba(3, 44, 3, 0.623) solid;
  padding-bottom: 20px;
  width: 50%;
  margin: 50px auto 30px;
}
.update-box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  border: 2px solid rgba(207, 201, 201, 0.425);
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}
.form-label{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.form-control {
  background-color: rgba(158, 197, 202, 0.075);
  text-align: center;
}
.update-button{
  margin: 20px;
  background-color: rgba(215, 250, 239, 0.521);
  border: none;
}


/* friends */
.friends-box{
  text-align: left;
  width: fit-content;
  margin: auto;
}
#avatarPhoto{
  border-radius: 50%;
  margin-right: 10px;
  
}
/* self evals */
.table{
width: fit-content;
margin: 50px auto;
}
.border{
  border: 2px solid rgba(207, 201, 201, 0.425);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}
.delete{
  background-color: rgba(0, 0, 255, 0);
  border: none;
  
}
.delete:hover{
  background-color: rgba(240, 248, 255, 0.377);
}


/* treatment page */
.treatment-head {
  padding: 20px;
  text-align: center;
}

.treatment-box{
  display: flex;
  flex-direction: row;
}

.diagram {
  display: flex;
  justify-content: center;
  align-content: center;
}

.diagram-size {
  width: 400px;
  margin: 50px;
  animation: rotation 7s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.treat-text{
  margin: 100px auto;
}
.jitkyo-text{
  color: rgba(59, 40, 18, 0.699);
}

.findtherapistH{
  display: flex;
  color: rgba(61, 3, 3, 0.63);
  border-bottom: 2px rgba(3, 44, 3, 0.623) solid;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.amta-link{
 display: flex;
 justify-content: center;
 margin: 50px;
}



/* Message board index page */

.Mbheading {
  text-align: center;
  padding: 30px;
  color: rgba(61, 3, 3, 0.63);
  border-bottom: 2px rgba(3, 44, 3, 0.623) solid;
  width: 50%;
  margin: auto;
}

.Mboard-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid rgba(161, 156, 156, 0.486);
}

.message-button {
  margin: 10px 0 20px;
}

.messages-container {
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.userpic{
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
  
}
/* details page*/
.show-container {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.created-at {
  font-size: 0.5rem;
  color: rgb(148, 144, 144);
}

.Davatar {
  margin: 10px 10px 10px;
}

.replyBox {
  margin-bottom: 10px;
}

.reply-container {
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.removefriendBtn{
  margin: 20px;
}
.btn-light{
  background-color: rgba(255, 255, 255, 0.486);
  border: none;
}

#avatarPhoto2{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
}

/* Theory Page */

.theory-header {
  text-align: left;
  margin-top: 40px;
  color: rgba(61, 3, 3, 0.63);
  width: 50%;
  border-bottom: 2px rgba(3, 44, 3, 0.623) solid;
  padding-bottom: 20px;
  margin-left: 50px;
}
.header-theory {
  margin: 20px 50px;
  color: rgb(65, 61, 51);
}
.description-shiatsu {
  color: rgb(95, 90, 74);
  width: 70%;
  margin: 0 50px;
}
.cycle-descriptions {
  display: flex;
  flex-direction: row;
  color: rgb(95, 90, 74);
  justify-content: start;
  margin: 0 30px;
}
.description-shiatsu-find {
  color: rgb(56, 54, 45);
  width: 70%;
  margin: 0 50px;
  font-size: 1.2rem;
}

.homebtn2 {
  margin: 20px 50px;
  background-color: rgba(3, 44, 3, 0.486);
  border: none;
  width: fit-content;
}

.homebtn2:hover {
  background-color: rgba(240, 248, 255, 0.301);
}

.home-link2:hover {
  color: rgb(255, 255, 255);
}
.home-link2 {
  color: rgba(233, 229, 218, 0.836);
}

/* Theory flip card */
.cards-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.cards-container2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 870px;
  perspective: 1000px;
  margin: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  text-decoration: none;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(250, 250, 250, 0.493);
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #7a070d;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  padding: 20px;
}

.larger-font {
  font-size: 2rem;
}
.eb {
  background-color: rgb(243, 192, 51);
}
.mb {
  background-color: rgb(206, 204, 204);
}
.wb {
  background-color: rgb(31, 31, 104);
}
.wob {
  background-color: rgb(28, 134, 28);
}

ul {
  list-style-type: none;
}

/* SelfEvaluation Page */

.container-box {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}

.eval-title {
  text-align: center;
  color: rgba(61, 3, 3, 0.63);
  width: 50%;
  border-bottom: 2px rgba(3, 44, 3, 0.623) solid;
  padding-bottom: 20px;
  margin: 50px auto;
}

.form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.form-select {
  width: 300px;
  margin: 20px;
}

.self-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


/* error page */


