body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
 
  margin: 0 100px;
  background-image: url("/stylesheets/images/istockphoto-914839034-1024x1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  /* background: rgb(126,113,54);
  background: radial-gradient(circle, rgba(126,113,54,1) 0%, rgba(22,18,1,1) 76%); */
  /* background-color: #3f0303; */
}

nav {
 
  margin: 0;
}

a {
  color: rgb(39, 39, 39);
}

.avatar {
  margin: 50px 100px 0 20px;
  border-radius: 50%;
}

.avatar-small {
  border-radius: 50%;
  margin: 20px;
}

.x-button {
  margin: 20px 0;
}

/* Message board index page */


.Mbheading {
  
  text-align: center;
  border: 2px solid black;
  padding: 30px;
}

.Mboard-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid rgba(161, 156, 156, 0.486);
}

.message-button {
  margin: 10px 0 20px;
}

.messages-container {
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* details page*/
.show-container {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.created-at {
  font-size: 0.5rem;
  color: rgb(148, 144, 144);
}

.Davatar {
  margin: 10px 10px 10px;
}

.replyBox {
  margin-bottom: 10px;
}

.reply-container {
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* profile page */


.avatar-profile {
  border-radius: 50%;
  width: 200px;
  padding: 20px;
  align-items: center;
}



/* treatment page */
.treatment-head {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
 
}

.diagram{
  display: flex;
 justify-content: center;
 align-content: center;
}

.diagram-size{
  width: 400px;
  margin: 50px;
  
}

.treat-text{
  text-align: center;
}

/* home */

.home-head-container{
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
align-items: center;
margin: 50px;
padding: 20px;
text-align: center;

}
.header-home{
  font-size: 4rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.466);
}

.element-head{
  margin-top: 20px;
  margin-bottom: 40px;
}

.one{
  background-color: red;
  width: 200px;
  height: 20px;
}
.two{
  background-color: rgb(241, 213, 87);
}
.three{
  background-color: rgb(192, 192, 192);
}
.four{
  background-color: rgb(97, 136, 243);
}
.five{
  background-color: rgb(84, 163, 84);
}

.firebtn{
border-radius: 50%;
padding: 20px;
}

.earthbtn{
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
  padding: 20px 15px;
 
  color: #fff;
}

.metalbtn{
  background-color: rgb(204, 201, 201);
  border-radius: 50%;
  padding: 20px 15px;
  color: #fff;
 
}

.waterbtn{
  background-color: rgb(102, 169, 224);
  border-radius: 50%;
  padding: 20px 15px;
  color: #fff;

}

.woodbtn{
  background-color: rgb(90, 151, 95);
  border-radius: 50%;
  padding: 20px 15px;
  color: #fff;

}

.color-container{
  margin-top: 0;
 
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background-color: rgba(181, 192, 187, 0.233);
  border-radius: 2px;
  overflow: hidden;
  height: 100vh;
} 


