<%- include('../partials/header') %>
<div class="color-container">

<h1>The Theory of Shiatsu</h1>



<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/flame copy.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="flip-card-back">
          <h4>Fire</h4>
          <ul>
        <li>Season: Summer</li>
            <li>Climate: heat</li>
            <li>Color: Red</li>
            <li>Emotion: Joy </li>
            <li>Sound: Laughter</li>
            <li>Organs governed: Heart, Small Intestine, pericardium, triple energizer</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>graceful, active hands </li>
      <li>long neck arms and legs\willowy physique </li>
      <li>curly or fine Hair </li>
      <li>walks and talks quickly </li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Enthusiastic </li>
      <li>charismatic </li>
      <li>optimistic </li> 
      <li>empathetic  </li>
      <li>affectionate </li> 
      <li>scattered </li>
      <li>passionate </li>
      <li>heart on their sleeves </li> 
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>On the go lifestyle</li>
    <li>Excess of Emotions</li>
    <li>Insomnia</li>
<li>Emotional Sensitivity</li>
<li>Inability to distinguish options</li>
<li>Weak response to infection</li>

</ul>


      </div>
    </div>
  </div>



</div>





















<%- include('../partials/footer') %>
