<%- include('../partials/header') %>
<div class="color-container"></div>

<h1 class="theory-header">THE THEORY OF SHIATSU</h1>


<h3 class="header-theory">Brief History</h3>
<!-- <div class="diagram-container">
    <img class="diagram" src="/stylesheets/images/diagram.png" alt="">
    </div> -->


<p class="description-shiatsu">Shiatsu is an ancient Japanese massage form for healing, using energy, stretching, and point work. It's a treatment for the mind, body, and spirit. The practitioner asks the client a series of questions about their emotional and spiritual health and wellbeing. An energy reading will be taken assessing all the organs and elements, determining which ones are Kyo or Jitsu(too much of, or too little of). Shiatsu is about long-term preventative work throughout a persons lifetime. </p> <br>

<p class="description-shiatsu">Shiatsu works with meridians on the body, like acupuncture. These meridians connect to certain organs that are governed by one of the five elements.The five elements are Fire, Earth, Metal, Water, and Wood. A practitioner will determine which elements are out of balance, and work the ones needed to help balance you out again.</p><br>

<p class="description-shiatsu">Qi(chi) is energy that flows in your body and throughout your meridians. Through shiatsu, we can determine if there are any disruptions to that flow, or if there is lack of energy in certain places of your body. Disruptions like these can weaken or lead to imbalances in your elements.</p><br>


<p class="description-shiatsu">Qi is constantly moving and transforming in your body. It flows through a relationship between the five elements called the Generation cycle. The Generation cycle is our life cycle, from childhood to old age. During the different stages of our lives, we can lean towards the element that governs that time. There is also a mother/child relationship between the elements and control cycle. The practitioner can determine through these cycles what the treatment plan will be for each session</p><br>

<div class="cycle-descriptions">
<ul>
    <p>Generation Cycle</p>
    <li>Wood is childhood</li>
    <li>Fire is young adulthood</li>
    <li>Earth is middle age</li>
    <li>Metal is old age</li>
    <li>Water is death and rebirth</li>
</ul>

<ul>
    <p>Mother & Child Cycle</p>
    <li>Fire is the mother of Earth. Earth is the child of Fire</li>
    <li>Earth is the mother of Metal. Metal is the child of Earth</li>
    <li>Metal is the mother of Water. Water is the child of Metal</li>
    <li>Water is the mother of Wood. Wood is the child of Water</li>
    <li>Wood is the mother of Fire. Fire is the child of Wood</li>
</ul>

<ul>
    <p>Control Cycle</p>
    <li>Fire melts Metal</li>
    <li>Metal chops wood</li>
    <li>Wood contains the movement of earth</li>
    <li>Earth set boundaries to water</li>
    <li>Water cools fire</li>
</ul>
</div> <br>

<p class="description-shiatsu-find">Learn about the elements by flipping over the cards. Find out which ones speak to you the most, and fill out the self evaluation to save to your profile page. Observe the changes in your kyo and jitsu elements, and bring these findings to your practitioner.</p><br>

<button type="submit" class=" homebtn2 btn btn-success "><a class="home-link2" href="/users/selfeval">Self Evaluation</a></button>

<div class="cards-container">

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/flame copy.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="flip-card-back">
          <h4 class="larger-font">FIRE</h4>
          <ul>
        <li>Season: Summer</li>
            <li>Climate: heat</li>
            <li>Color: Red</li>
            <li>Emotion: Joy </li>
            <li>Sound: Laughter</li>
            <li>Organs governed: Heart, Small Intestine, pericardium, triple energizer</li>
            <li>Young Adulthood</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>graceful, active hands </li>
      <li>long neck arms and legs\willowy physique </li>
      <li>curly or fine Hair </li>
      <li>walks and talks quickly </li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>charismatic </li>
      <li>optimistic </li> 
      <li>empathetic  </li>
      <li>affectionate </li> 
      <li>scattered </li>
      <li>passionate </li>
      <li>heart on their sleeves </li> 
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>On the go lifestyle</li>
    <li>Excess of Emotions</li>
    <li>Insomnia</li>
<li>Inability to distinguish options</li>
<li>Weak response to infection</li>

</ul>


      </div>
    </div>
  </div>



  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/hot-stones.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="eb flip-card-back">
          <h4 class="larger-font">EARTH</h4>
          <ul>
        <li>Season: LateSummer</li>
            <li>Climate: heat</li>
            <li>Color: Yellow/Orange</li>
            <li>Emotion: Sympathy/Worry </li>
            <li>Sound: Singing</li>
            <li>Organs governed: Stomach, Spleen</li>
            <li>Middle Age</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Feet firmly planted </li>
      <li>Large Head and Jaw</li>
      <li>Opera Singer Body </li>
      <li>Round Belly</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Down to earth</li>
      <li>calm</li>
      <li>territorial</li> 
      <li>generous</li>
      <li>reliable</li> 
      <li>nurturing</li>
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>Poor eating habits</li>
    <li>unhealthy diet</li>
    <li>excess studying & worrying</li>
<li>easy bruising</li>
</ul>

      </div>
    </div>
  </div>



  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/air.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="mb flip-card-back">
          <h4 class="larger-font">METAL</h4>
          <ul>
        <li>Season: LateSummer</li>
            <li>Climate: Fall</li>
            <li>Color: white</li>
            <li>Emotion: Grief </li>
            <li>Sound: Weeping/whinning</li>
            <li>Organs governed: Lung, Large Intestine</li>
            <li>Old Age</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Walks deliberately </li>
      <li>Strong Voice</li>
      <li>Oval Face </li>
      <li>Broad Shoulders</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Independent</li>
      <li>Meticulous</li>
      <li>Rational</li> 
      <li>Well-organized</li>
      <li>reserved</li> 
      <li>likes ceremony/discipline</li>
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>Dry skin</li>
    <li>Excess Grief</li>
    <li>Not able to let go</li>
<li>over attention to detail</li>
</ul>

      </div>
    </div>
  </div>

</div>






<div class="cards-container2">

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/drop.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="wb flip-card-back">
          <h4 class="larger-font">WATER</h4>
          <ul>
        <li>Season: Winter</li>
            <li>Climate: Cold</li>
            <li>Color: Black/Blue</li>
            <li>Emotion: Fear </li>
            <li>Sound: Groaning</li>
            <li>Organs governed: Bladder, Kidney</li>
            <li>Death and transformation into the next plane of existence</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Fluid movement/lazy </li>
      <li>Long, narrow head and face</li>
      <li>Long, large bones</li>
      <li>Silky Hair</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Introspective</li>
      <li>Objective</li>
      <li>Careful</li> 
      <li>Curious</li>
      <li>Perceptive</li> 
      <li>Full of wisdom</li>
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>Urinary problems</li>
    <li>Posture issues | Stiff/pain in back, neck, hamstrings, calves</li>
    <li>Excess or lack of fear</li>
<li>inability to move forward in life</li>
<li>Hearing problems</li>
</ul>

      </div>
    </div>
  </div>






  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/sprout.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="wob flip-card-back">
          <h4 class="larger-font">WOOD</h4>
          <ul>
        <li>Season: Spring</li>
            <li>Climate: Wind</li>
            <li>Color: Green</li>
            <li>Emotion: Anger </li>
            <li>Sound: Shouting</li>
            <li>Organs governed: Gallbladder, Liver</li>
            <li>Childhood</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Thick skin </li>
      <li>Loves Movement</li>
      <li>Strong hands and feet</li>
      <li>muscular body</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Bold</li>
      <li>Ambitious</li>
      <li>Competitive</li> 
      <li>Powerful</li>
      <li>Impatient</li> 
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>level of decisiveness</li>
    <li>headaches</li>
    <li>stiff muscles</li>
<li>mood swings</li>
<li>irritability</li>
<li>Menstrual irregularities</li>
</ul>

      </div>
    </div>
  </div>


</div>







</div>

<%- include('../partials/footer') %>
