<%- include('../partials/header') %>
<div class="color-container"></div>

<h1 class="theory-header">The Theory of Shiatsu</h1>


<h3>Brief History:</h3>
<p>Shiatsu is a type of energetic massage with a mixture of stretching and point work. The practitioner asks the client a series of questions about their emotional and spiritual health and wellbeing. An energy reading will be taken assessing all the organs and elements, determining which ones are Kyo or Jitsu(too much of, or too little of). Shiatsu is about long-term preventative work throughout a persons lifetime. </p>

<a href="https://shiatsu-app.herokuapp.com/">My Qi</a>
<a href="https://trello.com/b/WHvLpju6/shiatsu-app">Trello Board</a>


<div class="cards-container">

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/flame copy.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="flip-card-back">
          <h4>Fire</h4>
          <ul>
        <li>Season: Summer</li>
            <li>Climate: heat</li>
            <li>Color: Red</li>
            <li>Emotion: Joy </li>
            <li>Sound: Laughter</li>
            <li>Organs governed: Heart, Small Intestine, pericardium, triple energizer</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>graceful, active hands </li>
      <li>long neck arms and legs\willowy physique </li>
      <li>curly or fine Hair </li>
      <li>walks and talks quickly </li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>charismatic </li>
      <li>optimistic </li> 
      <li>empathetic  </li>
      <li>affectionate </li> 
      <li>scattered </li>
      <li>passionate </li>
      <li>heart on their sleeves </li> 
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>On the go lifestyle</li>
    <li>Excess of Emotions</li>
    <li>Insomnia</li>
<li>Inability to distinguish options</li>
<li>Weak response to infection</li>

</ul>


      </div>
    </div>
  </div>



  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/hot-stones.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="eb flip-card-back">
          <h4>Earth</h4>
          <ul>
        <li>Season: LateSummer</li>
            <li>Climate: heat</li>
            <li>Color: Yellow/Orange</li>
            <li>Emotion: Sympathy/Worry </li>
            <li>Sound: Singing</li>
            <li>Organs governed: Stomach, Spleen</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Feet firmly planted </li>
      <li>Large Head and Jaw</li>
      <li>Opera Singer Body </li>
      <li>Round Belly</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Down to earth</li>
      <li>calm</li>
      <li>territorial</li> 
      <li>generous</li>
      <li>reliable</li> 
      <li>nurturing</li>
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>Poor eating habits</li>
    <li>unhealthy diet</li>
    <li>excess studying & worrying</li>
<li>easy bruising</li>
</ul>

      </div>
    </div>
  </div>



  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/air.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="mb flip-card-back">
          <h4>Metal</h4>
          <ul>
        <li>Season: LateSummer</li>
            <li>Climate: Fall</li>
            <li>Color: white</li>
            <li>Emotion: Grief </li>
            <li>Sound: Weeping/whinning</li>
            <li>Organs governed: Lung, Large Intestine</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Walks deliberately </li>
      <li>Strong Voice</li>
      <li>Oval Face </li>
      <li>Broad Shoulders</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Independent</li>
      <li>Meticulous</li>
      <li>Rational</li> 
      <li>Well-organized</li>
      <li>reserved</li> 
      <li>likes ceremony/discipline</li>
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>Dry skin</li>
    <li>Excess Grief</li>
    <li>Not able to let go</li>
<li>over attention to detail</li>
</ul>

      </div>
    </div>
  </div>

</div>






<div class="cards-container2">

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/drop.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="wb flip-card-back">
          <h4>Water</h4>
          <ul>
        <li>Season: Winter</li>
            <li>Climate: Cold</li>
            <li>Color: Black/Blue</li>
            <li>Emotion: Fear </li>
            <li>Sound: Groaning</li>
            <li>Organs governed: Bladder, Kidney</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Fluid movement/lazy </li>
      <li>Long, narrow head and face</li>
      <li>Long, large bones</li>
      <li>Silky Hair</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Introspective</li>
      <li>Objective</li>
      <li>Careful</li> 
      <li>Curious</li>
      <li>Perceptive</li> 
      <li>Full of wisdom</li>
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>Urinary problems</li>
    <li>Posture issues | Stiff/pain in back, neck, hamstrings, calves</li>
    <li>Excess or lack of fear</li>
<li>inability to move forward in life</li>
<li>Hearing problems</li>
</ul>

      </div>
    </div>
  </div>






  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          
        <img class="card-pic"src="/stylesheets/images/sprout.png" alt="Avatar" style="width:300px;height:300px;">
   
      </div>
      <div class="wob flip-card-back">
          <h4>Wood</h4>
          <ul>
        <li>Season: Spring</li>
            <li>Climate: Wind</li>
            <li>Color: Green</li>
            <li>Emotion: Anger </li>
            <li>Sound: Shouting</li>
            <li>Organs governed: Gallbladder, Liver</li>
          </ul></p>
    

          <H4>Body Type:</H4>
         <p>
      <ul>
      <li>Thick skin </li>
      <li>Loves Movement</li>
      <li>Strong hands and feet</li>
      <li>muscular body</li>
    </ul>
    </p>
    
    
    <h4>Personality:</h4>
    <p>
      <ul>
      <li>Bold</li>
      <li>Ambitious</li>
      <li>Competitive</li> 
      <li>Powerful</li>
      <li>Impatient</li> 
    </ul>
    </p>

<h4>Imbalances (Jitsu/ Kyo):</h4>
<ul>
    <li>level of decisiveness</li>
    <li>headaches</li>
    <li>stiff muscles</li>
<li>mood swings</li>
<li>irritability</li>
<li>Menstrual irregularities</li>
</ul>

      </div>
    </div>
  </div>


</div>







</div>

<%- include('../partials/footer') %>
