
<%- include('../partials/header') %>
<div class="color-container">


<div class="treatment-head">
<h1>Balance</h1>
</div>
<div class="diagram" >
<img class="diagram-size" src="/stylesheets/images/diagram.png" alt="">
</div>

<div class="treat-text">
<h3>Jitsu: work controller & child</h3>
<h3>Kyo: work mother & child</h3>
</div>


<div>Find a Massage Therapist</div>
<div><a href="https://nf.amtamassage.org/eweb/DynamicPage.aspx?Site=AMTA&WebCode=LoginRequired&URL_success=https://www.amtamassage.org/account?userToken={token}">AMTA</a></div>



</div>


<%- include('../partials/footer') %>