<%- include('../partials/header') %>
<div class="color-container">

  <div class="treatment-head">
    <h1 class="Mbheading">How To Balance</h1>
  </div>

  <div class="treatment-box">
  <div class="diagram">
    <img class="diagram-size" src="/stylesheets/images/diagram.png" alt="" />
  </div>

  <div class="treat-text">
    <h3 class="jitkyo-text">Jitsu: work controller & child</h3>
    <h3 class="jitkyo-text">Kyo: work mother & child</h3>
    <p>Example - Fire Jitsu: work water and earth</p>
    <p>Example two - Fire Kyo: work fire and wood</p>
  </div>
</div>




  <div class="findtherapistH" >Find a Massage Therapist</div>
  <div class="amta-link">
    <a class="btn btn-light"target="_blank" 
      href="https://nf.amtamassage.org/eweb/DynamicPage.aspx?Site=AMTA&WebCode=LoginRequired&URL_success=https://www.amtamassage.org/account?userToken={token}"
      >American Massage Therapy Association</a
    >
  </div>
</div>

<%- include('../partials/footer') %>
