
<%- include('../partials/header') %>



<div class="treatment-head">
<h1>Treatment</h1>
</div>
<div class="diagram" >
<img class="diagram-size" src="/stylesheets/images/diagram.png" alt="">
</div>

<div class="treat-text">
<h3>Jitsu: work controller & child</h3>
<h3>Kyo: work mother & child</h3>
</div>









<%- include('../partials/footer') %>