
<%- include('../partials/header') %>



<div class="treatment-head">
<h1>treatment</h1>
</div>

<div class="elements">
<div class="fire-element element">fire</div>
<div class="earth-element element">earth</div>
<div class="metal-element element">metal</div>
<div class="water-element element">water</div>
<div class="wood-element element">wood</div>
</div>


<h3>Jitsu: work controller & child</h3>
<h3>Kyo: work mother & child</h3>










<%- include('../partials/footer') %>